<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&
h1 {
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 20px;
}
.button-link {
    font-family: 'IBM Plex Sans', sans-serif;
}
.title {
    font-weight: 700;
    font-size: 1.2em;
}


.section-links {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.button-link {
background-color: #3498db;
color: white;
flex: 0 0 calc(20% - 10px);
transition-duration: 0.4s;
border-radius: 0;
margin: 5px;
border: none;
padding: 8px;
font-size: 18px;
font-weight: 700;
min-height: 5em;
min-width: 10em;

}

.button-link:hover {
background-color: #2980b9;
color: white;
}

.button-link:active{
background-color: #34495e;
}

.smaller-title {
    font-weight: 400;
    font-size: 1em;
    margin-top: 5px;
}
.larger-title {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 15px;
}
.sections-container {
    display: flex;
}
.section-links {
    margin-right: 20px;
}
.section-text {
    flex: 1;
}
.section-text .content {
    display: none;
    margin-left: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
}
  .flexible-margin {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footnote {
    color: grey;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
}

        footer {
            margin-top: 30px;
            border-top: 000;
            border-top-width: 1.5px;
            border-top-style: solid;
            color: #333;
            text-align: center;
            padding-top: 10px;
            flex-direction: column;
            font-family: 'IBM Plex Sans', sans-serif;
        }


        .footer-column {
            display: inline;
            flex: 1;
            margin: 0 2%;
        }

        .footer-link {
            color: #2980b9;
            text-decoration: none;
            font-family: 'IBM Plex Sans', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
        }

@media (max-width: 1200px) {
    .flexible-margin {
    margin: 10px;
    }
    .button-link{
        flex: 0 0 calc(25% - 10px);

    }
}

@media (max-width: 720px) {
    .grid-container {
    grid-template-columns: 1fr;
}
    .button-link{
        flex: 0 0 100%;
        min-height: 2.25em;
        text-align: left;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .section-links{
        align-items: flex-start;
        flex-direction: row;
    
    }


}